.footer {
  background-color: rgb(170, 33, 31);
  height: 150px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.footer_text {
  font-size: 16px;
  font-weight: 600;
  color: #ecf0f3;
  text-align: center;
  width: 100%;
}

.footer > span > a {
  margin-left: 5px;
}
