.header {
    background-color:  rgb(170, 33, 31);
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    z-index: 100;
    box-shadow: 4px 4px 8px rgb(102, 16, 15);
    height: 50px;
}

.logo {
    width: 84px;
    height: 36px;
    margin: 10px 20px;
}

@media screen and (max-width: 380px) {
    .header {
        padding-left: 25px;
        /* padding-right: 30px; */
    }

    .logo {
        margin: 10px 0px !important; 
    }
}

@media screen and (min-width: 380px) and (max-width: 500px) {

    .logo {
        margin: 10px 0px !important; 
    }

}

@media screen and (min-width: 500px) and (max-width: 600px) {
    

}