
.row__title {
    /* text-align: center; */
    cursor: pointer;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 25px;
    margin: 40px 40px 20px 40px;
    /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fdfdfd; */
    /* box-shadow: 10px 10px 10px #cbced1, -5px -5px 10px #eceaea; */
}
.row__title:hover {
    /* box-shadow: 10px 10px 10px #cbced1, -5px -5px 10px #eceaea; */
    box-shadow: inset 4px 4px 8px #cbced1, inset -4px -4px 8px #ffffff;
}

.row__link {
  text-decoration: none;
  display: block;
  color: rgb(170,33,31);
}

.row__link > span {
  font-size: 26px;
  font-weight: 700;
  
}


.row__container {   
  height: 500px;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 20px 40px;
  box-shadow: inset 4px 4px 8px #cbced1, inset -4px -4px 8px #ffffff;
}
.row__container_scroll {
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
}
.row__card {
  margin: 0 6px;
}
.row__card:last-child {
  border-right: 15px solid transparent;
}


.react-multiple-carousel__arrow {
  border-radius: 10px !important;
  background: #d1302d85 !important;
}
.react-multiple-carousel__arrow:hover {
  border-radius: 10px !important;
  background: #d1302dbe !important;
}

@media screen and (max-width: 380px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .row__title {
    padding: 10px 5px !important;
    margin: 40px 15px 20px 15px !important;
  }
  .row__title > span {
    font-size: 18px !important;
  }

  .react-multiple-carousel__arrow {
    min-height: 70px !important;
    min-width: 5px !important;
  }
  .react-multiple-carousel__arrow:hover {
    min-height: 70px !important;
    min-width: 5px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: 0 !important;
    top: 20%;
  }
  .react-multiple-carousel__arrow--right {
    right: 0 !important;
    top: 20%;
  }

  .row__title > span {
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  .row__container {   
    height: 360px;
  }
}

@media screen and (min-width: 380px) and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
  
  .row__title {
    padding: 10px 5px !important;
    margin: 40px 15px 20px 15px !important;
  }
  .row__title > span {
    font-size: 20px !important;
  }
  
  .react-multiple-carousel__arrow {
    min-height: 80px !important;
    min-width: 10px !important;
  }
  .react-multiple-carousel__arrow:hover {
    min-height: 80px !important;
    min-width: 10px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: 0 !important;
    top: 20%;
  }
  .react-multiple-carousel__arrow--right {
    right: 0 !important;
    top: 20%;
  }
  .row__container {   
    height: 390px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {  
  .row__title:hover {
    box-shadow: none !important;
  }

  .row__container {
    padding: 10px !important;
    margin: 20px 15px 20px 15px !important;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .react-multiple-carousel__arrow {
    min-height: 100px !important;
    min-width: 30px !important;
  }
  .react-multiple-carousel__arrow:hover {
    min-height: 100px !important;
    min-width: 30px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: 0px !important;
    top: 25%;
  }
  .react-multiple-carousel__arrow--right {
    right: 0px !important;
    top: 25%;
  }
}


