* {
  margin: 0;
}

body {
  background-color: #ecf0f3;
}

.App {
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  /* width: 1000px; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 380px) {
  .wrapper {
    width: 100% !important;
    transition: 0.5s;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
}

@media screen and (min-width: 500px) and (max-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .main_wrapper {
    margin: 60px 10px;
  }
  .wrapper {
    width: 100% !important;
    transition: 0.5s;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main_wrapper {
    margin: 60px 40px;
  }
  .wrapper {
    width: 600px;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 800px) {
  .wrapper {
    width: 800px;
    transition: 0.5s;
  }
}

@media screen and (min-width: 1020px) {
  .wrapper {
    width: 1000px;
    transition: 0.5s;
  }
}
